In [ ]:
# @title install
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=3238d610e158b936021c6fa08d23bbd1554ae2708ee13479e1f4285358910a3a
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date, col, year
spark = SparkSession.builder.appName('resing').getOrCreate()
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

In [ ]:
# @title /
spark.read.option('header', 'true').csv('/content/alldata1/part-00000-cb692a14-234c-477b-80b5-1eeaf41bd603-c000.csv').count()

3420

In [ ]:
df = spark.read.format("csv").option("header","true").load("/content/data")

In [ ]:
df.show()
df.count()

+-------------------+--------------------+--------------+--------------------+-------------------+--------------------+-----------------------+----+--------------------+-----------+-----------+-------------+--------------------+-------------------+---------------+
|conversation_id_str|          created_at|favorite_count|           full_text|             id_str|           image_url|in_reply_to_screen_name|lang|            location|quote_count|reply_count|retweet_count|           tweet_url|        user_id_str|       username|
+-------------------+--------------------+--------------+--------------------+-------------------+--------------------+-----------------------+----+--------------------+-----------+-----------+-------------+--------------------+-------------------+---------------+
|1763051760552448425|Thu Feb 29 15:35:...|             0|@DakotaGeorgy ‍ W...|1763226383269163477|                NULL|           DakotaGeorgy|  in| PT. Duite Moro Dewe|          0|          0|            0|https://x.com/Jer...|         2148258606|    JeryPringgo|
|1763225450699194726|Thu Feb 29 15:31:...|             0| kak yungalah mbe...|1763225450699194726|                NULL|                   NULL|  in|all au on the lin...|          0|          0|            0|https://x.com/voo...|1059706841129570304|     voolezvous|
|1763224334011965948|Thu Feb 29 15:28:...|             0|@valerianaeradix ...|1763224814784000232|                NULL|        valerianaeradix|  in|            hatinya |          0|          1|            0|https://x.com/mid...|1136351058408534016|   midfingerupp|
|1763220456130371962|Thu Feb 29 15:16:...|             0|@feelinlonelyyyy ...|1763221674307244530|                NULL|        feelinlonelyyyy|  in|                 Jkt|          0|          1|            0|https://x.com/blo...|1204724242362716160|   bloobybubbyy|
|1763184899165724785|Thu Feb 29 15:00:...|             0|@tanyakanrl kirai...|1763217722840895500|                NULL|             tanyakanrl|  in|                NULL|          0|          0|            0|https://x.com/chi...|1366600904191868932|      chifuyoeh|
|1763215163103293577|Thu Feb 29 14:58:...|             0|@R_AdelJKT48 Sema...|1763217158799307241|                NULL|            R_AdelJKT48|  in|                NULL|          0|          0|            0|https://x.com/jaw...|1684833888324239360|    jawir030207|
|1763213314170175495|Thu Feb 29 14:56:...|             0|@unnesmenfess Yuk...|1763216701796254075|                NULL|           unnesmenfess|  in|                NULL|          0|          0|            0|https://x.com/pea...|1475450127233937411|   pearlonymous|
|1763214887126515944|Thu Feb 29 14:49:...|             0|kita usahakan non...|1763214887126515944|                NULL|                   NULL|  in|                NULL|          0|          0|            0|https://x.com/oth...|1650098685831946242|   othersidesbl|
|1763210892806926582|Thu Feb 29 14:33:...|             2|Tinggi: 173 cm Bb...|1763210892806926582|https://pbs.twimg...|                   NULL|  in|        Planet Namek|          0|          1|            0|https://x.com/dsa...|         1448002891|        dsat911|
|1763210752025120869|Thu Feb 29 14:32:...|             0|kngen gambar bren...|1763210752025120869|https://pbs.twimg...|                   NULL|  in|                NULL|          0|          0|            0|https://x.com/chi...|1366600904191868932|      chifuyoeh|
|1763209244705423474|Thu Feb 29 14:28:...|             0|@SP_IndiraJKT48 I...|1763209654790979844|                NULL|         SP_IndiraJKT48|  in|                NULL|          0|          0|            0|https://x.com/jaw...|1682181791707443200|jawirIreng67853|
|1763207857670066619|Thu Feb 29 14:25:...|             1| @Ssuguruu_ hy jawir|1763208982020432006|                NULL|                Nayaaer|  in|                NULL|          0|          0|            0|https://x.com/4re...|1749835679679565824|        4resssa|
|1763208057797177516|Thu Feb 29 14:22:...|             0|Sedang terjawir j...|1763208057797177516|                NULL|                   NULL|  in|                NULL|          0|          0|            0|https://x.com/Ste...|          438209967|  Steylagladiol|
|1763200838363967852|Thu Feb 29 14:09:...|             0|@sukamiayamaw Tau...|1763204836026462262|                NULL|           sukamiayamaw|  in|            hatinya |          0|          0|            0|https://x.com/mid...|1136351058408534016|   midfingerupp|
|1762894420612145526|Thu Feb 29 14:05:...|             1|@anonjawa Baru ka...|1763203804642922691|                NULL|               anonjawa|  in|                NULL|          0|          0|            0|https://x.com/Mik...|1542318219348054016| Mikazuki666139|
|1763081214423175475|Thu Feb 29 14:02:...|             0|@o8670 Blisteran ...|1763203169092559155|                NULL|                  o8670|  in|All around the world|          0|          0|            0|https://x.com/SAR...|1346833417745301510|  SARS_CoronaV2|
|1763202134315831791|Thu Feb 29 13:59:...|             0|@A_ZeeJKT48 Siapa ya|1763202359378014542|                NULL|             A_ZeeJKT48|  in|                NULL|          0|          0|            0|https://x.com/jaw...|1684833888324239360|    jawir030207|
|1763200838363967852|Thu Feb 29 13:53:...|             0|1 uban seratus pe...|1763200838363967852|https://pbs.twimg...|                   NULL|  in|            hatinya |          0|          1|            0|https://x.com/mid...|1136351058408534016|   midfingerupp|
|1763141867007533161|Thu Feb 29 11:38:...|             0|@DendyMrdiansyah ...|1763166882688020576|                NULL|        DendyMrdiansyah|  in|                NULL|          0|          0|            0|https://x.com/wor...|1285892859523002370|    worldofkhaa|
|1763166603368374568|Thu Feb 29 11:37:...|             0| freya lucu bgt bjir|1763166603368374568|                NULL|                   NULL|  in|                NULL|          0|          0|            0|https://x.com/chi...|1366600904191868932|      chifuyoeh|
+-------------------+--------------------+--------------+--------------------+-------------------+--------------------+-----------------------+----+--------------------+-----------+-----------+-------------+--------------------+-------------------+---------------+
only showing top 20 rows

11096

In [ ]:
df = df.drop('conversation_id_str', 'favorite_count', 'id_str', 'image_url', 'in_reply_to_scren_name', 'lang',
                      'location', 'quote_count', 'reply_count', 'retweet_count', 'tweet_count', 'user_id_str', 'username',
                      'in_reply_to_screen_name', 'tweet_url')

In [ ]:
df.show()
df.count()

+--------------------+--------------------+
|          created_at|           full_text|
+--------------------+--------------------+
|Thu Feb 29 15:35:...|@DakotaGeorgy ‍ W...|
|Thu Feb 29 15:31:...| kak yungalah mbe...|
|Thu Feb 29 15:28:...|@valerianaeradix ...|
|Thu Feb 29 15:16:...|@feelinlonelyyyy ...|
|Thu Feb 29 15:00:...|@tanyakanrl kirai...|
|Thu Feb 29 14:58:...|@R_AdelJKT48 Sema...|
|Thu Feb 29 14:56:...|@unnesmenfess Yuk...|
|Thu Feb 29 14:49:...|kita usahakan non...|
|Thu Feb 29 14:33:...|Tinggi: 173 cm Bb...|
|Thu Feb 29 14:32:...|kngen gambar bren...|
|Thu Feb 29 14:28:...|@SP_IndiraJKT48 I...|
|Thu Feb 29 14:25:...| @Ssuguruu_ hy jawir|
|Thu Feb 29 14:22:...|Sedang terjawir j...|
|Thu Feb 29 14:09:...|@sukamiayamaw Tau...|
|Thu Feb 29 14:05:...|@anonjawa Baru ka...|
|Thu Feb 29 14:02:...|@o8670 Blisteran ...|
|Thu Feb 29 13:59:...|@A_ZeeJKT48 Siapa ya|
|Thu Feb 29 13:53:...|1 uban seratus pe...|
|Thu Feb 29 11:38:...|@DendyMrdiansyah ...|
|Thu Feb 29 11:37:...| freya lucu bgt bjir|
+--------------------+--------------------+
only showing top 20 rows

11096

In [ ]:
df = df.dropDuplicates()
df.count()

10912

In [ ]:
df = df.withColumn('created_at', to_date(col('created_at'), 'EEE MMM dd HH:mm:ss Z yyyy'))
df = df.withColumn('year', year(col('created_at')))

In [ ]:
df_filtered = df.filter(df.full_text.contains('jawir') |
                              df.full_text.contains('cina') |
                              df.full_text.contains('Cina') |
                              df.full_text.contains('CINA') |
                              df.full_text.contains('Jawir') |
                              df.full_text.contains('JAWIR') |
                              df.full_text.contains('sunda') |
                              df.full_text.contains('Sunda') |
                              df.full_text.contains('SUNDA') |
                              df.full_text.contains('bule') |
                              df.full_text.contains('Bule') |
                              df.full_text.contains('BULE') |
                              df.full_text.contains('jawa') |
                              df.full_text.contains('Jawa') |
                              df.full_text.contains('nigga') |
                              df.full_text.contains('Nigga') |
                              df.full_text.contains('NIGGA') |
                              df.full_text.contains('nigger') |
                              df.full_text.contains('Nigger') |
                              df.full_text.contains('NIGGER') |
                              df.full_text.contains('negro') |
                              df.full_text.contains('Negro') |
                              df.full_text.contains('NEGRO') |
                              df.full_text.contains('kontol') |
                              df.full_text.contains('Kontol') |
                              df.full_text.contains('KONTOL')
                              )

In [ ]:
# @title /
df_filtered_dump = df.filter(df.full_text.contains('jawir') &
                              df.full_text.contains('cina') &
                              df.full_text.contains('Cina') &
                              df.full_text.contains('CINA') &
                              df.full_text.contains('Jawir') &
                              df.full_text.contains('JAWIR') &
                              df.full_text.contains('sunda') &
                              df.full_text.contains('Sunda') &
                              df.full_text.contains('SUNDA') &
                              df.full_text.contains('bule') &
                              df.full_text.contains('Bule') &
                              df.full_text.contains('BULE') &
                              df.full_text.contains('jawa') &
                              df.full_text.contains('Jawa') &
                              df.full_text.contains('nigga') &
                              df.full_text.contains('Nigga') &
                              df.full_text.contains('NIGGA') &
                              df.full_text.contains('nigger') &
                              df.full_text.contains('Nigger') &
                              df.full_text.contains('NIGGER') &
                              df.full_text.contains('negro') &
                              df.full_text.contains('Negro') &
                              df.full_text.contains('NWGRO') &
                              df.full_text.contains('kontol') &
                              df.full_text.contains('Kontol') &
                              df.full_text.contains('KONTOL')
                              )

In [ ]:
# @title / export
df_2020.write.option("header",True) \
.csv("/content/2020")
df_2021.write.option("header",True) \
.csv("/content/2021")
df_2022.write.option("header",True) \
.csv("/content/2022")
df_2023.write.option("header",True) \
.csv("/content/2023")
df_2024.write.option("header",True) \
.csv("/content/2024")

In [ ]:
df_filtered_2024 = df_filtered.filter(col('year') == 2024)
df_filtered_2023 = df_filtered.filter(col('year') == 2023)
df_filtered_2022 = df_filtered.filter(col('year') == 2022)
df_filtered_2021 = df_filtered.filter(col('year') == 2021)
df_filtered_2020 = df_filtered.filter(col('year') == 2020)

In [ ]:
print('Total data = ', df.count())
print('Total data yang sudah difilter / dibersihkan = ', df_filtered.count())
print('Data 2024 = ', df_filtered_2024.count())
print('Data 2023 = ', df_filtered_2023.count())
print('Data 2022 = ', df_filtered_2022.count())
print('Data 2021 = ', df_filtered_2021.count())
print('Data 2020 = ', df_filtered_2020.count())

Total data =  11096
Total data yang sudah difilter / dibersihkan =  5338
Data 2024 =  3439
Data 2023 =  681
Data 2022 =  648
Data 2021 =  413
Data 2020 =  157